body {
    background-color: grey;
    color: #fff;
    font: 1em Arial;
    text-align: center;
}

.box {
    width: 40%;
    height: 80%;
    margin: 50px auto;
    border: 2px black solid;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    text-align: center;
}

input {
    height: 30px;
    width: 80%;
    margin-bottom: 20px;
}

#res {
    font-size: larger;
    color: red;
    text-align: center;
}

button {
    width: 25%;
    height: 50px;
    border-radius: 10px;
    margin: 10px 4px;
}